<%= will_paginate @books, renderer: BootstrapPagination::Rails %>

<div class="banner">
  <%= link_to image_tag(@books.first.image.url), @books.first, class: 'banner-book-image' unless @books.first.nil? %>
  <h2 class="banner-title"><%= @books.first.title %></h2>
  <p class="banner-author">by <%= @books.first.author %></p>
  <p class="banner-description"><%= @books.first.description %></p>
</div>

<div class="sidebar">
  <div class="authors-of-the-week">
  <h2 class="of-the-h2">Authors of the week</h2>
  <% @books.each do |book| %>
    <div class="row">
      <div class="col-md-6">
        <p class="author-week"><%= book.author %></p>
      </div>
    </div>
  <% end %>
  </div>
  <div class="books-of-the-year">
  <h2>Books of the week</h2>
  <% @books.each do |book| %>
    <div class="row">
      <div class="col-md-6">
        <p class="author-week"><%= book.title %></p>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="main-content">
  <h2>Popular by Genre</h2>
  <% @books.each do |book| %>
    <div class="col-md-4">
      <%= link_to image_tag(book.image.url), book, class: 'book-image' %>
      <h2 class="title"><%= book.title %></h2>
      <p class="author">by <%= book.author %></p>
      <p class="description"><%= book.description %></p>
      <% if user_signed_in? %>
        <%= link_to 'Show', book %>
        <%= link_to 'Edit', edit_book_path(book) %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
  
  <br>
  
  <% if user_signed_in? %>
    <%= link_to 'New Book', new_book_path %>
  <% end %>
</div>